pandas 
mlflow==2.2.2
notebook
numpy<2.0
scikit-learn
scikit-surprise
pymongo
matplotlib
python-box==6.0.2
python-dotenv
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
torch
scipy
requests
fastapi
uvicorn
pydantic
-e .